<!DOCTYPE html>
<html lang="en">

<head>
  <div th:replace="general.html :: head"></div>
  <style>
    .custom-tooltip {
      --bs-tooltip-bg: var(--bs-secondary);
    }
  </style>
  <title>Add Customer Information · HiyaScaffold Service</title>
</head>

<body>
  <header th:replace="general.html :: header"></header>
  <main>
    <div class="container">
      <div class="progress my-2" style="height: 25px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-50" role="progressbar"
          aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">50%</div>
      </div>
      <div class="row align-self-center justify-content-center">
        <div class="col-10 col-md-6">
          <div class="accordion mt-3" id="cart">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#cart-content"
                  aria-expanded="true" aria-controls="cart-content">
                  <i class="fa-solid fa-cart-shopping fa-xl"></i><b>Cart</b>
                  <span th:each="performa, status : ${customer.performas}" class="badge bg-primary rounded-pill ms-2"
                  th:text='${status.first}? ${"# " + status.size}'>14</span>
                </button>
              </h2>
              <div id="cart-content" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#cart">
                <div class="accordion-body">
                  <div class="table-responsive">
                    <table class="table">
                      <thead class="table-light align-middle">
                        <tr>
                          <th>#</th>
                          <th>Item Name</th>
                          <th>Quantity</th>
                          <th>Loan Days</th>
                          <!-- <th></th> -->
                        </tr>
                      </thead>
                      <tbody>
                        <tr th:each="performa, status : ${customer.performas}">
                          <td th:text="${status.count}"></td>
                          <td th:text="${performa.item.itemName}"></td>
                          <td th:text="${performa.itemQuantity}"></td>
                          <td th:text="${performa.dayDifference}"></td>
                          <!-- <td>
                                <a th:href="@{/transactions/newtransaction/{transId}(transId=${performa.transId})}">Edit</a>
                              </td> -->
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="accordion-footer ">
                <div class="my-3 row align-items-center justify-content-center">
                  <a class="btn btn-primary btn-sm col-md-3 col-6" th:href="@{/transactions/newtransaction}" role="button" data-bs-toggle="tooltip"
                  data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Add another to cart">
                    <i class="fa-solid fa-cart-plus"></i><span> Add Another</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="container">
            <h2 class="mt-3 mb-3" style="text-align: center;">Add Customer Information</h2>
            <form action="#" th:action="@{/orders/agreement}" th:object="${customer}" method="post">
              <div th:replace="Fragments/add-customer.html :: form"></div>
              <div class="row justify-content-evenly">
                <a href="/cancel" class="col-2 col-sm-3 btn btn-primary" role="button" data-bs-toggle="tooltip"
                  data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Cancel and discard changes">
                  Cancel
                </a>
                <button type="reset" class="col-2 col-sm-3 btn btn-primary" data-bs-toggle="tooltip"
                  data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Reset to defaults">
                  Reset
                </button>
                <button type="submit" class="col-2 col-sm-3 btn btn-primary" data-bs-toggle="tooltip"
                  data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Add and continue">
                  Submit
                </button>
              </div>
              <footer>
                <div class="mt-3">
                  <i class="fa-solid fa-asterisk fa-xs" style="color:crimson;"></i> Required field
                </div>
              </footer>
            </form>  
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer th:replace="general.html :: footer"></footer>

  <script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>

</body>

</html>