<!DOCTYPE html>
<html lang="en">

<head>
  <div th:replace="general.html :: head"></div>
  <style>
    .custom-tooltip {
    --bs-tooltip-bg: var(--bs-secondary);
    }
  </style>
  <title>Add Transaction · ZeroSheet</title>
</head>

<body onload="defaultValue()">

  <header th:replace="general.html :: header"></header>

  <main>
    <div class="container">
      <div class="progress my-2" style="height: 25px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 33%;" role="progressbar"
          aria-valuenow="33" aria-valuemin="0" aria-valuemax="100">33%</div>
      </div>
      <h2 class="mt-2 mb-3" style="text-align: center;">Add Transaction</h2>
      <div class="row align-self-center justify-content-center">
        <div th:if="${#lists.isEmpty(items)}" class="col-8 col-md-6">
          <div class="card border-warning mb-3">
            <h6 class="card-header bg-warning text-light">Warning</h6>
            <div class="card-body">
              <h5 class="card-title">There are no items available!</h5>
              <p class="card-text">
                You can not add transactions when there are no items available. You should <a href="/items/newitem">add
                  some items</a> and come back here.
              </p>
              <div class="row justify-content-center">
                <a class="btn btn-primary btn-sm col-4" href="/items/newitem" role="button">
                  <i class="fas fa-plus fa-lg"></i> Add New Item
                </a>
              </div>
            </div>
          </div>
        </div>

        <div th:unless="${#lists.isEmpty(items)}" class="col-8 col-md-6">
          <form action="#" th:action="@{/customer/{id}/addtransaction(id=${customer.id})}" th:object="${performa}"
            method="post">
            <div th:replace="Fragments/add-transaction.html :: form"></div>
          </form>
        </div>
      </div>
    </div>
  </main>

  <footer th:replace="general.html :: footer"></footer>

  <script th:src="@{/js/transaction/change-handler.js}"></script>

</body>

</html>