<!DOCTYPE html>
<html lang="en">

<head>
  <div th:replace="general.html :: head"></div>
  <style>
    .custom-tooltip {
      --bs-tooltip-bg: var(--bs-secondary);
    }
  </style>
  <title>Summary Page · HiyaScaffold Service</title>
</head>

<body>

  <header th:replace="general.html :: header"></header>

  <main class="container">
    <div class="progress my-2" style="height: 25px;">
      <div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar"
        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
    </div>
    <div class="row align-self-center justify-content-center">
      <div class="col-10 col-md-8">
        <div>
          <h2 style="text-align:center;" class="my-3">Summary</h2>
        </div>
  
        <div th:replace="Fragments/summary.html :: card"></div>
        <form action="#" th:action="@{/orders/finish}" th:object="${customer}" method="post">
          <div th:replace="Fragments/summary.html :: form"></div>
        </form>
      </div>
    </div>
  </main>

  <footer th:replace="general.html :: footer"></footer>

  <script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>

</body>

</html>