<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/d660833754.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
    crossorigin="anonymous"></script>
  <style>
    .custom-tooltip {
      --bs-tooltip-bg: var(--bs-secondary);
    }
  </style>
  <title>Summary Page · ZeroSheet</title>
</head>

<body>

  <header th:replace="general.html :: header"></header>

  <main>
    <div class="container">
      <div class="progress my-2" style="height: 25px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar"
          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
      </div>
      <div>
        <h2 style="text-align:center;" class="my-3">Summary</h2>
      </div>

      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><span
              th:text="${customer.name + ' ' + customer.middleName + ' ' + customer.lastName}"></span></h5>
          <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <h6>Completed transactions</h6>
            <ol class="list-group list-group-numbered row align-items-start justify-content-between">
              <li th:each="trans, status : ${transactions}" class="list-group-item col-md-4 col-6">
                <span class="badge bg-primary rounded-pill me-1"
                  style="background-color:rgb(176, 72, 228);">Item</span><span th:text="${trans.item.itemName}"></span>
                <div class="ms-3">
                  <span class="badge bg-primary rounded-pill me-1"
                    style="background-color:rgb(176, 72, 228);">Transaction price</span><span
                    th:text="${#numbers.formatDecimal(trans.transPrice, 1, 'COMMA', 2, 'DEFAULT') + ' Birr'}"></span>
                </div>
                <div class="ms-3">
                  <span class="badge bg-primary rounded-pill me-1"
                    style="background-color:rgb(176, 72, 228);">Collateral price</span><span
                    th:text="${#numbers.formatDecimal(trans.collateral, 1, 'COMMA', 2, 'DEFAULT') + ' Birr'}"></span>
                </div>
                <div class="ms-3">
                  <span class="badge bg-primary rounded-pill me-1" style="background-color:rgb(176, 72, 228);">Loan
                    days</span><span th:text="${trans.dayDifference + ' days'}"></span>
                </div>
              </li>
            </ol>
          </li>
          <li class="list-group-item">
            <h6>Items loaned</h6>
            <ol class="list-group list-group-numbered">
              <li th:each="trans, status : ${transactions}"
                class="list-group-item d-flex justify-content-between align-items-start">
                <div class="ms-2 me-auto">
                  <div class="fw-bold"><span th:text="${trans.item.itemName}"></span></div>
                  Remaining Quantity = <span th:text="${trans.item.totalQuantity}"></span>
                </div>
                <span class="badge bg-primary rounded-pill" style="background-color:rgb(176, 72, 228);"
                  th:text="${trans.itemQuantity}"></span>
              </li>
            </ol>
          </li>
          <li class="list-group-item">
            <h6>Total cost</h6>
            <div class="row align-items-start">
              <div class="card col-4">
                <div class="card-body">
                  <div class="card-title">Total Price</div>
                </div>
                <div class="card-body">
                  <div><span
                      th:text="${#numbers.formatDecimal(customer.totalPriceVAT, 1, 'COMMA', 2, 'DEFAULT') + ' Birr'}"
                      style="font-size:x-large ;"></span></div>
                </div>
              </div>
              <div class="card col-4">
                <div class="card-body">
                  <div class="card-title">Total Debt Balance</div>
                </div>
                <div class="card-body">
                  <div><span
                      th:text="${#numbers.formatDecimal(customer.debtBalance, 1, 'COMMA', 2, 'DEFAULT') + ' Birr'}"
                      style="font-size:x-large ;"></span></div>
                </div>
              </div>
              <div class="card col-4">
                <div class="card-body">
                  <div class="card-title">Total Collateral Price</div>
                </div>
                <div class="card-body">
                  <div><span
                      th:text="${#numbers.formatDecimal(customer.totalCollateralVAT, 1, 'COMMA', 2, 'DEFAULT') + ' Birr'}"
                      style="font-size:x-large ;"></span></div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <form action="#" th:action="@{/orders/finish}" th:object="${customer}" method="post">
        <div class="row justify-content-evenly my-5">
          <a href="/cancel" class="col-2 col-sm-3 btn btn-primary" role="button" data-bs-toggle="tooltip"
            data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Cancel and discard all changes">
            Cancel
          </a>
          <button type="submit" class="col-2 col-sm-3 btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top"
            data-bs-custom-class="custom-tooltip" title="Finish and save all changes">
            Finish
          </button>
        </div>
      </form>
    </div>
  </main>

  <footer th:replace="general.html :: footer"></footer>

  <script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>

</body>

</html>