<!DOCTYPE html>
<html lang="en">

<head>
  <div th:replace="general.html :: head"></div>
  <style>
    .custom-tooltip {
      --bs-tooltip-bg: var(--bs-secondary);
    }
  </style>
  <title>Updated Summary Page · ZeroSheet</title>
</head>

<body>

  <header th:replace="general.html :: header"></header>

  <main>
    <div class="container">
      <div class="progress my-2" style="height: 25px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated w-100" role="progressbar"
          aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
      </div>
      <div>
        <h2 style="text-align:center;" class="my-3">Updated Summary</h2>
      </div>

      <div th:replace="Fragments/edited-summary.html :: card"></div>
      <div th:each="transaction : ${transactions}">
        <form action="#"
          th:action="@{/orders/finishedit/{id}/{transId}(id = ${customer.id}, transId=${transaction.transId})}"
          th:object="${customer}" method="post">
          <div th:replace="Fragments/edited-summary.html :: form"></div>
        </form>
      </div>
    </div>
  </main>

  <footer th:replace="general.html :: footer"></footer>

  <script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>

</body>

</html>