<!DOCTYPE html>
<html lang="en">

<head>
  <div th:replace="general.html :: head"></div>
  <style>
    .custom-tooltip {
      --bs-tooltip-bg: var(--bs-secondary);
    }
  </style>
  <title th:text="${'Edit · ' + 'ሒያ ጠቅላላ ስራ ተቋራጭ' + ' · ZeroSheet'}"></title>
</head>

<body>
  <header th:replace="general.html :: header"></header>

  <main class="mx-2">
    <div>
      <h2 class="mt-2 mb-3" style="text-align: center;">Edit Company Information</h2>
      <div class="row align-self-center justify-content-center">
        <div class="col-md-6 col-10">
          <form action="#" th:action="@{/updatecompany/{compName}(compName=${company.compName})}" th:object="${company}"
            method="post">
            <div class="mb-3">
              <label for="compName" class="form-label">Company name <i class="fa-solid fa-asterisk fa-xs"
                  style="color:crimson;"></i></label>
              <input type="text" class="form-control" th:field="*{compName}" id="compName" th:errorclass="is-invalid">
              <span class="invalid-feedback" th:if="${#fields.hasErrors('compName')}" th:errors="*{compName}"></span>
            </div>
            <label for="compPhoneNumber" class="form-label">Phone number <i class="fa-solid fa-asterisk fa-xs"
                style="color:crimson;"></i></label>
            <div class="input-group mb-3">
              <span class="input-group-text" id="basic-addon3">+251</span>
              <input type="text" class="form-control" th:field="*{compPhoneNumber}" id="compPhoneNumber"
                th:errorclass="is-invalid">
              <span class="invalid-feedback" th:if="${#fields.hasErrors('compPhoneNumber')}"
                th:errors="*{compPhoneNumber}"></span>
            </div>
            <div class="mb-3">
              <label for="compHouseNumber" class="form-label">House number <i class="fa-solid fa-asterisk fa-xs"
                  style="color:crimson;"></i></label>
              <input type="text" class="form-control" th:field="*{compHouseNumber}" id="compHouseNumber"
                th:errorclass="is-invalid">
              <span class="invalid-feedback" th:if="${#fields.hasErrors('compHouseNumber')}"
                th:errors="*{compHouseNumber}"></span>
            </div>
            <div class="mb-3">
              <label for="compCity" class="form-label">City <i class="fa-solid fa-asterisk fa-xs"
                  style="color:crimson;"></i></label>
              <input type="text" class="form-control" th:field="*{compCity}" id="compCity" th:errorclass="is-invalid">
              <span class="invalid-feedback" th:if="${#fields.hasErrors('compCity')}" th:errors="*{compCity}"></span>
            </div>
            <div class="mb-3">
              <label for="compWoreda" class="form-label">Woreda <i class="fa-solid fa-asterisk fa-xs"
                  style="color:crimson;"></i></label>
              <input type="text" class="form-control" th:field="*{compWoreda}" id="compWoreda"
                th:errorclass="is-invalid">
              <span class="invalid-feedback" th:if="${#fields.hasErrors('compWoreda')}"
                th:errors="*{compWoreda}"></span>
            </div>
            <div class="mb-3">
              <label for="compSubCity" class="form-label">Sub-City <i class="fa-solid fa-asterisk fa-xs"
                  style="color:crimson;"></i></label>
              <input type="text" class="form-control" th:field="*{compSubCity}" id="compSubCity"
                th:errorclass="is-invalid">
              <span class="invalid-feedback" th:if="${#fields.hasErrors('compSubCity')}"
                th:errors="*{compSubCity}"></span>
            </div>
            <div class="mb-3">
              <label for="compCountry" class="form-label">Country <i class="fa-solid fa-asterisk fa-xs"
                  style="color:crimson;"></i></label>
              <input type="text" class="form-control" th:field="*{compCountry}" id="compCountry"
                th:errorclass="is-invalid">
              <span class="invalid-feedback" th:if="${#fields.hasErrors('compCountry')}"
                th:errors="*{compCountry}"></span>
            </div>
            <div class="row justify-content-evenly">
              <a href="/company" class="col-2 col-sm-3 btn btn-primary" role="button" data-bs-toggle="tooltip"
                data-bs-placement="top" data-bs-custom-class="custom-tooltip"
                title="Cancel editing and discard changes">
                Cancel
              </a>
              <button type="reset" class="col-2 col-sm-3 btn btn-primary" data-bs-toggle="tooltip"
                data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Reset to defaults">
                Reset
              </button>
              <button type="submit" class="col-2 col-sm-3 btn btn-primary" data-bs-toggle="tooltip"
                data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Update and save changes">
                Submit
              </button>
            </div>
            <footer>
              <div class="mt-3">
                <i class="fa-solid fa-asterisk fa-xs" style="color:crimson;"></i> Required field
              </div>
            </footer>
          </form>
        </div>
      </div>
    </div>
  </main>

  <footer th:replace="general.html :: footer"></footer>

  <script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>

</body>

</html>