<!DOCTYPE html>
<html lang="en">

<head>
  <div th:replace="general.html :: head"></div>
  <title>My Company · ZeroSheet</title>
</head>

<body>
  <header th:replace="general.html :: header"></header>

  <main class="mx-2">
    <div class="container">
      <div>
        <div th:if="${#lists.isEmpty(company)}">
          <h2 class="mt-2 mb-3" style="text-align: center;">Currently, there is no company information!</h2>
        </div>

        <div th:unless="${#lists.isEmpty(company)}">
          <div>
            <h2 class="mt-2 mb-5" style="text-align: center;">Company Information</h2>
          </div>

          <div class="row align-self-center justify-content-center" th:each="company : ${company}">
            <div class="card col-8 col-md-4 mt-2">
              <img th:src="@{images/comp_logo.jpg}" class="card-img-top" alt="company logo">
              <div class="card-body">
                <h5 class="card-title"><span th:text="${company.compName}"></span></h5>
                <h6 class="card-subtitle mb-2 text-muted">The best investment for your construction business</h6>
                <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <i class="fa-solid fa-phone ms-1 me-2 iconn"></i>
                  <span th:text="${company.compPhoneNumber}"></span>
                </li>
                <li class="list-group-item">
                  <i class="fa-solid fa-house ms-1 me-2 iconn"></i>
                  <span th:text="${company.compHouseNumber}"></span>
                </li>
                <li class="list-group-item">
                  <span class="badge rounded-pill me-1">woreda</span>
                  <span th:text="${company.compWoreda}"></span>
                </li>
                <li class="list-group-item">
                  <span class="badge rounded-pill me-1">subcity</span>
                  <span th:text="${company.compSubCity}"></span>
                </li>
                <li class="list-group-item">
                  <span class="badge rounded-pill me-1">city</span>
                  <span th:text="${company.compCity}">
                </li>
                <li class="list-group-item">
                  <span class="badge rounded-pill me-1">country</span>
                  <span th:text="${company.compCountry}">
                </li>
              </ul>
              <div class="card-body">
                <div class="my-2 row align-self-center justify-content-center">
                  <a class="btn btn-primary btn-sm col-7 col-md-8"
                    th:href="@{/editcompany/{compName}(compName=${company.compName})}" role="button">
                    <i class="fa-solid fa-pen"></i><span> Edit Company Info</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer th:replace="general.html :: footer"></footer>

</body>

</html>