<!DOCTYPE html>
<html lang="en">

<head>
  <div th:replace="general.html :: head"></div>
  <title>Customers Tabular List · ZeroSheet</title>
</head>

<body>
  <header th:replace="general.html :: header"></header>
  <main>
    <div class="container">
      <div>
        <div th:if="${#lists.isEmpty(customers)}">
          <h2 class="mt-2 mb-3" style="text-align: center;">No customers available at the moment!</h2>
        </div>
        <div th:unless="${#lists.isEmpty(customers)}">
          <h2 class="mt-2 mb-3" style="text-align: center;">Tabular List of Customers</h2>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="table-light align-middle">
                <tr>
                  <th>#</th>
                  <th>Customer Name</th>
                  <th>Email</th>
                  <th>PhoneNumber</th>
                  <th>HouseNumber</th>
                  <th>City</th>
                  <th>Transactions</th>
                  <th>Performas</th>
                  <th>Edit</th>
                  <th>Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="customer, status : ${customers}">
                  <td th:text="${status.count}"></td>
                  <td th:text="${customer.name + ' ' + customer.middleName + ' ' + customer.lastName}"></td>
                  <td th:text="${customer.email}"></td>
                  <td th:text="${customer.phoneNumber}"></td>
                  <td th:text="${customer.houseNumber}"></td>
                  <td th:text="${customer.city}"></td>
                  <td>
                    <div th:if="${#lists.isEmpty(customer.transactions)}">
                      <p>No Transactions for this customer</p>
                      <a class="btn btn-primary btn-sm" th:href="@{transactions/addtransaction/{id}(id=${customer.id})}"
                        role="button">
                        <i class="fa-solid fa-plus"></i><span> Add Transactions</span>
                      </a>
                    </div>
                    <div th:unless="${#lists.isEmpty(customer.transactions)}">
                      <ul th:each="transaction : ${customer.transactions}">
                        <li th:text="${transaction.item.itemName}"></li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <div th:if="${#lists.isEmpty(customer.performas)}">
                      <p>No Performas for this customer</p>
                    </div>
                    <div th:unless="${#lists.isEmpty(customer.transactions)}">
                      <ul th:each="performa : ${customer.performas}">
                        <li th:text="${performa.item.itemName}"></li>
                      </ul>
                    </div>
                  </td>
                  <td>
                    <a th:href="@{customers/editcustomer/{id}(id=${customer.id})}">
                      <i class="fa-solid fa-pen"></i>
                    </a>
                  </td>
                  <td>
                    <a th:href="@{customers/deletecustomer/{id}(id=${customer.id})}">
                      <i class="fa-solid fa-trash" style="color:rgb(223, 77, 52) ;"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row justify-content-center my-5">
        <a name="" id="" class="btn btn-primary col-6 col-md-3" href="customers/newcustomer" role="button">
          <i class="fas fa-plus fa-lg"></i> Add New Customer
        </a>
      </div>
    </div>
  </main>
  <footer th:replace="general.html :: footer"></footer>

</body>

</html>