<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Transaction</title>
</head>
<body>
    <div>
        <h2>New Transaction</h2>
        <div>
            <div>
                <form action="#" th:action="@{/addtransaction}" th:object="${transaction}" method="post">
                    <div class="row">
                        <div>
                            <label for="transName">Transaction Name</label>
                            <input type="text" th:field="*{transName}" id="transName" placeholder="Transaction-Name">
                            <span th:if="${#fields.hasErrors('transName')}" th:errors="*{transName}"></span>
                        </div>
                        <!-- Drop Down Menu -->
                        <div>
                            <label for="customer">Choose a customer</label>
                            <select th:field="*{customer}" id="customer">
                                <div th:each="customer: ${customers}">
                                    <option th:value="${customer.name}" th:text="${customer.name}"></option>
                                </div>
                            </select>
                        </div>
                        <!-- Drop Down Menu -->
                        <div>
                            <label for="item">Choose an item</label>
                            <select th:field="*{item}" id="item">
                                <div th:each="item: ${items}">
                                    <option th:value="${item.itemName}" th:text="${item.itemName}"></option>
                                </div>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <input type="submit" value="Add Transaction">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>