<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
</head>
<body>
    <div th:switch="${transactions}">
        <div class="row">
            <div>
                <h2 th:case="null">No Transactions Available at the moment</h2>
                <div th:case="*">
                    <h2>Completed Transactions</h2>
                    <table border="1">
                        <thead>
                            <tr>
                                <th>Transaction Name</th>
                                <th>Customer</th>
                                <th>Item</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="transaction : ${transactions}">
                                <td th:text="${transaction.transName}"></td>
                                <td th:text="${transaction.customer}"></td>
                                <td th:text="${transaction.item}"></td>
                                <td>
                                    <a th:href="@{transactions/edittransaction/{transId}(transId=${transaction.transId})}">EDIT</a>
                                </td>
                                <td>
                                    <a th:href="@{transactions/deletetransaction/{transId}(transId=${transaction.transId})}">DELETE</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div>
                <ul>
                    <li><a href="transactions/newtransaction">Add Transaction</a></li>
                </ul>
            </div>
</body>
</html>