<!DOCTYPE html>
<html lang="en">

<head>
  <div th:replace="general.html :: head"></div>
  <style>
    .custom-tooltip {
      --bs-tooltip-bg: var(--bs-secondary);
    }
  </style>
  <title>Edit Transaction · HiyaScaffold Service</title>
</head>

<body onload="defaultValue()">
  <header th:replace="general.html :: header"></header>

  <main>
    <div class="container">
      <h2 class="mt-2 mb-3" style="text-align: center;">Edit Transaction</h2>
      <div>
        <div class="row align-self-center justify-content-center">
          <form class="col-8 col-md-6" action="#"
            th:action="@{/transactions/updatetransaction/{transId}(transId=${transaction.transId})}"
            th:object="${transaction}" method="post">
            <div th:replace="Fragments/update-transaction.html :: form"></div>
          </form>
        </div>
      </div>
    </div>
  </main>

  <footer th:replace="general.html :: footer"></footer>

  <script th:src="@{/js/convert-date.js}"></script>

</body>

</html>