<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Transaction</title>
</head>
<body>
    <div>
        <h2>Update Transaction</h2>
        <div class="row">
            <div>
                <form action="#" th:action="@{/transactions/updatetransaction/{transId}(transId=${transaction.transId})}" th:object="${transaction}" method="post">             
                    <!-- <div>
                        <label for="item">Choose an Item</label>
                        <select th:field="*{item}" id="item">
                            <div th:each="item : ${items}">
                                <option th:value="${item.itemId}" th:text="${item.itemName}"></option>
                            </div>
                        </select>
                        <span th:if="${#fields.hasErrors('item')}" th:errors="*{item}"></span>
                    </div> -->
                    
                    <div>
                        <label for="itemQuantity">Item Quantity</label>
                        <input type="text" th:field="*{itemQuantity}" id="itemQuantity" placeholder="5">
                        <span th:if="${#fields.hasErrors('itemQuantity')}" th:errors="*{itemQuantity}"></span>
                    </div>
                   
                    <div>
                        <label for="dueDate">Start Date</label>
                        <input type="date" th:field="*{dueDate}" id="dueDate">
                        <!-- <span th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}"></span> -->
                    </div>

                    <div>
                        <label for="dueBackDate">End Date</label>
                        <input type="date" th:field="*{dueBackDate}" id="dueBackDate">
                        <!-- <span th:if="${#fields.hasErrors('dueBackDate')}" th:errors="*{dueBackDate}"></span> -->
                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-5">
                            <input type="submit" class="btn btn-primary" value="Update Transaction">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>