<!DOCTYPE html>
<html lang="en">

<body>
  <div th:fragment="form">
    <div th:if="${isDuplicate == true}">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        The information you entered already exists either as a <strong>completed transaction</strong> or an
        <strong>incompleted performa!</strong> Try adding a different one.
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    </div>
    <div class="mb-3">
      <label class="form-label" for="item">Choose an Item <i class="fa-solid fa-asterisk fa-xs"
          style="color:crimson;"></i></label>
      <select id="itemSel" th:field="*{item}" class="form-select" aria-label="Select an item" th:errorclass="is-invalid"
        onchange="changeHandler()">
        <div th:each="item : ${items}">
          <option th:value="${item.itemId}" th:data-bs-loanprice="${item.unitLoanPrice}"
            th:data-bs-totalquantity="${item.totalQuantity}"
            th:text="${item.itemName + ' [quantity = ' + item.totalQuantity} + ']'"></option>
        </div>
      </select>
      <span class="invalid-feedback" th:if="${#fields.hasErrors('item')}" th:errors="*{item}"></span>
    </div>
    <div th:fragment="update">
      <div class="mb-3">
        <label class="form-label" for="itemPrice">Item Unit Price <i class="fa-solid fa-asterisk fa-xs"
            style="color:crimson;"></i></label>
        <input type="text" class="form-control" id="itemPrice" name="itemPrice" th:errorclass="is-invalid" value="12"
          required>
        <span class="invalid-feedback" th:if="${#fields.hasErrors('itemPrice')}" th:errors="*{itemPrice}"></span>
      </div>
      <div class="mb-3">
        <label class="form-label" for="itemQuantity">Item Quantity <i class="fa-solid fa-asterisk fa-xs"
            style="color:crimson;"></i></label>
        <input type="number" min="1" max="11" class="form-control" name="itemQuantity" id="itemQuantity"
          th:errorclass="is-invalid" value="10" required>
        <span class="invalid-feedback" th:if="${#fields.hasErrors('itemQuantity')}" th:errors="*{itemQuantity}"></span>
      </div>
      <div class="mb-3">
        <label class="form-label" for="dueDate">Start Date <i class="fa-solid fa-asterisk fa-xs"
            style="color:crimson;"></i></label>
        <input type="date" class="form-control" th:field="*{dueDate}" id="dueDate"
          th:errorclass="is-invalid" required>
        <span class="invalid-feedback" th:if="${#fields.hasErrors('dueDate')}" th:errors="*{dueDate}"></span>
        <span class="ms-2" id="dueDateEC"></span>
      </div>
      <div class="mb-3">
        <label class="form-label" for="dueBackDate">End Date <i class="fa-solid fa-asterisk fa-xs"
            style="color:crimson;"></i></label>
        <input type="date" class="form-control" th:field="*{dueBackDate}" id="dueBackDate" th:errorclass="is-invalid"
          required>
        <span class="invalid-feedback" th:if="${#fields.hasErrors('dueBackDate')}" th:errors="*{dueBackDate}"></span>
        <span class="ms-2" id="dueBackDateEC"></span>
      </div>
    </div>
    <div class="row justify-content-evenly">
      <a href="/cancel" class="col-md-2 col-3 btn btn-primary" role="button" data-bs-toggle="tooltip"
        data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Cancel and discard changes">
        Cancel
      </a>
      <button type="reset" class="co-md-2 col-3 btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top"
        data-bs-custom-class="custom-tooltip" title="Reset to defaults">
        Reset
      </button>
      <button type="submit" class="col-md-2 col-3 btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top"
        data-bs-custom-class="custom-tooltip" title="Add and continue">
        Submit
      </button>
    </div>
    <footer>
      <div class="mt-3">
        <i class="fa-solid fa-asterisk fa-xs" style="color:crimson;"></i> Required field
      </div>
    </footer>
  </div>
</body>

</html>