<!DOCTYPE html>
<html lang="en">

<body>
  <div th:fragment="form">
    <div class="mb-3">
      <label for="name" class="form-label">First name <i class="fa-solid fa-asterisk fa-xs"
          style="color:crimson;"></i></label>
      <input type="text" class="form-control" th:field="*{name}" id="name" th:errorclass="is-invalid"
        placeholder="Advent">
      <span class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    </div>
    <div class="mb-3">
      <label for="middleName" class="form-label">Middle name <i class="fa-solid fa-asterisk fa-xs"
          style="color:crimson;"></i></label>
      <input type="text" class="form-control" th:field="*{middleName}" id="middleName" th:errorclass="is-invalid"
        placeholder="Corporation">
      <span class="invalid-feedback" th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></span>
    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label">Last name <i class="fa-solid fa-asterisk fa-xs"
          style="color:crimson;"></i></label>
      <input type="text" class="form-control" th:field="*{lastName}" id="lastName" th:errorclass="is-invalid"
        placeholder="PLC">
      <span class="invalid-feedback" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address <i class="fa-solid fa-asterisk fa-xs"
          style="color:crimson;"></i></label>
      <input type="text" class="form-control" th:field="*{email}" id="email" th:errorclass="is-invalid"
        placeholder="name@example.com">
      <span class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
    </div>
    <label for="phoneNumber" class="form-label">Phone number <i class="fa-solid fa-asterisk fa-xs"
        style="color:crimson;"></i></label>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon3">+251</span>
      <input type="text" class="form-control" th:field="*{phoneNumber}" id="phoneNumber" th:errorclass="is-invalid"
        placeholder="953-0458-59">
      <span class="invalid-feedback" th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></span>
    </div>
    <div class="mb-3">
      <label for="houseNumber" class="form-label">House number</label>
      <input type="text" class="form-control" th:field="*{houseNumber}" id="houseNumber" th:errorclass="is-invalid"
        placeholder="333">
      <span class="invalid-feedback" th:if="${#fields.hasErrors('houseNumber')}" th:errors="*{houseNumber}"></span>
    </div>
    <div class="mb-3">
      <label for="city" class="form-label">City or Town <i class="fa-solid fa-asterisk fa-xs"
          style="color:crimson;"></i></label>
      <input type="text" class="form-control" th:field="*{city}" id="city" th:errorclass="is-invalid"
        placeholder="Addis Ababa">
      <span class="invalid-feedback" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
    </div>
    <div class="mb-3">
      <label for="woreda" class="form-label">Woreda</label>
      <input type="text" class="form-control" th:field="*{woreda}" id="woreda" th:errorclass="is-invalid"
        placeholder="05" min="0">
      <span class="invalid-feedback" th:if="${#fields.hasErrors('woreda')}" th:text='${"Woreda must be a number! You may use value = 0 to represent null"}'></span>
    </div>
    <div class="mb-3">
      <label for="subcity" class="form-label">Sub-City</label>
      <input type="text" class="form-control" th:field="*{subcity}" id="subcity" th:errorclass="is-invalid"
        placeholder="Arada">
      <span class="invalid-feedback" th:if="${#fields.hasErrors('subcity')}" th:errors="*{subcity}"></span>
    </div>
  </div>
</body>

</html>