<!DOCTYPE html>
<html lang="en">

<body>
  <div th:fragment="main">
    <div class="my-3" style="border:solid grey ;">
      <div class="container">
        <div>
          <div class="row justify-content-end">
            <p class="col-6 col-md-3"><span class="date" th:text="${#dates.format(customer.agreementDate, 'dd-MM-yyyy')}">ሰኔ 13 ቀን 2012 ዓ.ም</span>
            </p>
          </div>

          <div th:each="trans,status : ${transactions}" id="agreementNumber" class="row justify-content-end">
            <p th:if="${status.first}" class="col-6 col-md-3">የውል ቁጥር ሂ/ጠ/ሥ <span
                th:text="${status.first}? ${#numbers.formatInteger(trans.transId-1, 4)}"></span><span
                class="year">/15</span>
            </p>
        </div>
        </div>

        <h3 class="mt-3 mb-3" style="text-align: center;"><u>የእስካፎልዲንግ ኪራይ ውል ስምምነት</u></h3>
        <div class="row justify-content-center">
          <div class="col-6 my-3">
            <div th:switch="${company}">
              <h3 th:case="null">There is no company information</h3>
              <div th:case="*">
                <div th:each="company : ${company}">
                  <p class="h5" style="font-weight: bold;">አከራይ:- <span th:text="${company.compName}"
                      style="font-weight:bold ;"></span></p>
                  <div class="table responsive">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>ስልክ</td>
                          <td><span th:text="${company.compPhoneNumber}"></span></td>
                        </tr>
                        <tr>
                          <td>ወረዳ</td>
                          <td><span th:text="${company.compWoreda}"></span></td>
                        </tr>
                        <tr>
                          <td>ክፍለ ከተማ</td>
                          <td><span th:text="${company.compSubCity}"></span></td>
                        </tr>
                        <tr>
                          <td>የቤት ቁጥር</td>
                          <td><span th:text="${company.compHouseNumber}"></span></td>
                        </tr>
                        <tr>
                          <td><span th:text="${company.compCity}">አዲስ አበባ</span></td>
                          <td><span th:text="${company.compCountry}">ኢትዮጵያ</span></td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6 my-3">
            <p class="h5" style="font-weight:bold ;">ተከራይ:- <span
                th:text="${customer.fullName}"></span></p>
            <div class="table responsive">
              <table class="table">
                <tbody>
                  <tr>
                    <td>ስልክ</td>
                    <td><span th:text="${customer.phoneNumber}"></span></td>
                  </tr>
                  <tr>
                    <td>ወረዳ</td>
                    <td><span th:text="${customer.woreda}"></span></td>
                  </tr>
                  <tr>
                    <td>ክፍለ ከተማ</td>
                    <td><span th:text="${customer.subcity}"></span></td>
                  </tr>
                  <tr>
                    <td>የቤት ቁጥር</td>
                    <td><span th:text="${customer.houseNumber}"></span></td>
                  </tr>
                  <tr>
                    <td><span th:text="${customer.city}">አዲስ አበባ</span></td>
                    <td><span>ኢትዮጵያ</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div>
          <p style="text-align:center ;"><u><em>አከራይና ተከረይ ተስማምተን የሚከተለውን የስካፎልዲንግ ውል ፈጽመናል ፡፡</em></u></p>
        </div>

        <div>
          <!-- First Field -->
          <h6><b>አንቀጽ አንድ:- የአከራይ መብትና እና ግዴታ</b></h6>
          <ol>
            <li>አከራይ ለአገልግሎት ብቁና በጥሩ ሁኔታ ላይ ያሉ ማቴሪአሎችን ከነ መገጣጠሚያቸው ያቀርባል ፡፡</li>
            <li>አከራይ በሰንጠረዥ ቁጥር 1 ላይ የተቀመጠውን አይነትና ቁጥር አሟልቶ ያቀርባል ፡፡</li>
            <li>አከራይ የኪራይ ሙሉ ዘመኑ ሲያልቅ ያከራያቸውን እቃዎች ባለበት (ባስረከበበት) ሁኔታ መልሶ ይረከባል ፡፡</li>
            <li>አከራይ ባከራያቸው እቃዎች ጉድለት ወይም ብልሽት ቢኖር የጎደለውን ዕቃ በሰንጠረዥ ቁጥር 2 ላይ በተቀመጠው ዋጋ መሰረት ያስከፍላል ፡፡</li>
          </ol>
        </div>

        <div>
          <!-- Second Field -->
          <h6><b>አንቀጽ ሁለት:- የተከራይ ፈቃድ</b></h6>
          <ol>
            <li>ተከራይ የተከራየውን ንብረት የይዘትና የቀለም ለውጥ ሳያደርግ ይጠቀማል ፡፡</li>
            <li>ተከራይ የተከራየውን ንብረት በሰንጠረዝ ቁጥር 1 መሰረት ቆጥሮ ይረከባል ፡፡ </li>
            <li>ተከራይ የተረከበውን ንብረት የኪራይ ጊዜው ሲጠናቀቅ ንብረቱን በሰንጠረዝ ቁጥር 1 መሰረት ቆጥሮ ያስረክባል ፡፡ </li>
            <li>ተከራይ የተከራየውን ንብረት ከአከራይ መጋዘን በራሱ ትራንስፖርት ይወስዳል ሥራውን ሲያጠናቅቅ የተረከበበት ቦታ ይመልሳል ፡፡</li>
            <li>ተከራይ ለሚጠፉና ለሚበላሹ እቃዎች በሰንጠረዝ ቁጥር 2 የዋጋ ዝርዝር መሰረት ክፍያ ይፈጽማል ፡፡</li>
            <li>ተከራይ ንብረቱን ለኮንስትራክሽን አገልግሎት ብቻ ይጠቀምበታል ለሶስተኛ ወገንም አሳልፎ መስጠት አይችልም ፡፡</li>
            <li>ተከራይ ለሚከራየው ንብረት በሰንጠረዥ ቁጥር ሁለት ጠቅላላ ድምሩን <span class="price"
                th:text="${'ብር ' + #numbers.formatDecimal(customer.totalCollateralVATP, 1, 'COMMA', 2, 'DEFAULT')}"></span>
              በቼክ ያስይዛል ፡፡</li>
            <li>ተከራይ የሚከራየውን ንብረት ከተገለገለበት በኃላ ጊዜው ሲጠናቀቅ እቃዎቹን በተረከበበት ሁኔታ የማያስረክብ ቢሆን ግን ለ ዕቃዎቹ ሲባል በመያዣነት የተቀበለውን
              ቼክ ባንክ ይዞ በመቅረብ የመመንዘር መብት አከራይ አለው ፡፡</li>
            <div th:each="trans,status : ${transactions}">
              <li th:if="${status.first}">
                ይህ የኪራይ ውል ከ ዛሬ ቀን
                <span class="date" th:text="${#dates.format(customer.agreementDate, 'dd-MM-yyyy')}"></span>
                ጀምሮ በአዲስ አበባ ከተማ የተደረገ ሲሆን ተከራዩ እቃውን ከወሰደበት ጊዜ ጀምሮ ለ
                <span th:text="${status.first}? ${trans.dayDifference}"></span>
                ቀናት ፀንቶ ይቆያል፤ ሆኖም ግን ተዋዋዮች ከተስማሙና የቀጣይ ወራት ኪራይ ከተከፈለ ማራዘም ይችላሉ ፡፡
              </li>
            </div>
          </ol>
        </div>

        <div>
          <!-- Third Field -->
          <h6><b>አንቀጽ ሶስት:- የኪራይ ዋጋ</b></h6>
          <ol>
            <div th:each="trans,status : ${transactions}">
              <li th:if="${status.first}">
                የኪራይ ዋጋ ለአንድ ቀን <span class="price"
                  th:text="${status.first}? ${'ብር ' + #numbers.formatDecimal(customer.totalPriceVATP / trans.dayDifference, 1, 'COMMA', 2, 'DEFAULT')}"></span>
                ቫትን ጨምሮ ሲሆን ጠቅላላ ዋጋ ለ <span th:text="${status.first}? ${trans.dayDifference}"></span> ቀን
                <span id="totalprice" th:data-bs-totalprice="${#numbers.formatDecimal(customer.totalPriceVATP, 1, 'NONE', 2, 'DEFAULT')}" 
                  class="price" th:text="${'ብር ' + #numbers.formatDecimal(customer.totalPriceVATP, 1, 'COMMA', 2, 'DEFAULT')}">
                </span>(<span id="numeralprice" class="price"></span>)
                ቫትን ጨምሮ ይሆናል፡፡
              </li>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered caption-top">
                <caption>ሰንጠረዥ ቁ. 1</caption>
                <thead>
                  <tr>
                    <th>ተቁ</th>
                    <th>ዝርዝር</th>
                    <th>መለኪያ</th>
                    <th>ብዛት</th>
                    <th>የሚሸፍነው የካሬ መጠን</th>
                    <th>የኪራይ ዋጋ በቀን ብር</th>
                    <th>ጠቅላላ ቀን</th>
                    <th>ጠቅላላ የብር መጠን</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="transaction, status : ${transactions}">
                    <td th:text="${status.count}"></td>
                    <td th:text="${transaction.itemName}"></td>
                    <td th:text="${transaction.unit}"></td>
                    <td th:text="${transaction.itemQuantity}"></td>
                    <td th:text="${transaction.areaCoverage}"></td>
                    <td th:text="${#numbers.formatDecimal(transaction.itemPrice, 1, 'COMMA', 2, 'DEFAULT')}">
                    </td>
                    <td th:text="${transaction.dayDifference}"></td>
                    <td th:text="${#numbers.formatDecimal(transaction.transPrice, 1, 'COMMA', 2, 'DEFAULT')}"></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="6" style="border-bottom: hidden; border-left:hidden;"></td>
                    <td>ጠቅላላ ዋጋ</td>
                    <td><span
                        th:text="${#numbers.formatDecimal(customer.totalPriceP, 1, 'COMMA', 2, 'DEFAULT')}"></span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="6" style="border-bottom: hidden; border-left:hidden;"></td>
                    <td>ቫት 15%</td>
                    <td><span
                        th:text="${#numbers.formatDecimal(customer.totalPriceP * 0.15, 1, 'COMMA', 2, 'DEFAULT')}"></span>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="6" style="border-bottom: hidden; border-left:hidden;"></td>
                    <td>ጠቅላላ ዋጋ ቫትን ጨምሮ</td>
                    <td><span
                        th:text="${#numbers.formatDecimal(customer.totalPriceVATP, 1, 'COMMA', 2, 'DEFAULT')}"></span>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
            <li>ይህ የኮንትራት ዋጋ የሚያገለግለው ለተጠቀሰው የኪራይ ጊዜ ብቻ ነው፡፡</li>
          </ol>
        </div>

        <div>
          <!-- Fourth Field -->
          <h6><b>አንቀጽ አራት:- ክፍያ ሁኔታ</b></h6>
          <ol>
            <li>ጠቅላላ የኪራይ ዋጋ በሰንጠረዥ 1 በተመለከተው መሰረት ተከራይ ሙሉ በሙሉ ክፍያ ይፈጽማል፡፡</li>
          </ol>
        </div>

        <div>
          <!-- Fifth -->
          <h6><b>አንቀጽ አምስት:- ማስያዣ</b></h6>
          <div class="table-responsive">
            <table class="table table-bordered caption-top">
              <caption>ሰንጠረዥ ቁ. 2 </caption>
              <thead>
                <tr>
                  <th>ተቁ</th>
                  <th>ዝርዝር</th>
                  <th>መለኪያ</th>
                  <th>ብዛት</th>
                  <th>ነጠላ ዋጋ</th>
                  <th>ማስያዣ</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="transaction, status : ${transactions}">
                  <td th:text="${status.count}"></td>
                  <td th:text="${transaction.itemName}"></td>
                  <td th:text="${transaction.unit}"></td>
                  <td th:text="${transaction.itemQuantity}"></td>
                  <td th:text="${#numbers.formatDecimal(transaction.unitPrice, 1, 'COMMA', 2, 'DEFAULT')}"></td>
                  <td th:text="${#numbers.formatDecimal(transaction.collateral, 1, 'COMMA', 2, 'DEFAULT')}"></td>
                </tr>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="4" style="border-bottom: hidden; border-left:hidden;"></td>
                  <td>ጠቅላላ ማስያዣ</td>
                  <td><span
                      th:text="${#numbers.formatDecimal(customer.totalCollateralP, 1, 'COMMA', 2, 'DEFAULT')}"></span>
                  </td>
                </tr>
                <tr>
                  <td colspan="4" style="border-bottom: hidden; border-left:hidden;"></td>
                  <td>ቫት 15%</td>
                  <td><span
                      th:text="${#numbers.formatDecimal(customer.totalCollateralP * 0.15, 1, 'COMMA', 2, 'DEFAULT')}"></span>
                  </td>
                </tr>
                <tr>
                  <td colspan="4" style="border-bottom: hidden; border-left:hidden;"></td>
                  <td>ጠቅላላ ማስያዣ ቫትን ጨምሮ</td>
                  <td><span
                      th:text="${#numbers.formatDecimal(customer.totalCollateralVATP, 1, 'COMMA', 2, 'DEFAULT')}"></span>
                  </td>
                </tr>
              </tfoot>
            </table>
          </div>

          <div class="my-2">
            <ol>
              <li class="row align-items-start">
                <p class="col-xl-4 col-10">በመያዣነት የተያዘውቼክ ባንክ፤ --------------------------</p>
                <p class="col-xl-4 col-10">ቅርንጫፍ፤ ------------------------------</p>
                <p class="col-xl-4 col-10">የቼክ ቁጥር፤ ------------------------------</p>
              </li>
            </ol>
          </div>
        </div>
      </div>
    </div>

    <div class="pagebreak">
      <div class="my-3" style="border:solid grey ;">
        <div class="container">
          <div class="mb-3">
            <div th:each="trans,status : ${transactions}" id="agreementNumber" class="row justify-content-end">
              <p th:if="${status.first}" class="col-6 col-md-3">የውል ቁጥር ሂ/ጠ/ሥ <span
                  th:text="${status.first}? ${#numbers.formatInteger(trans.transId-1, 4)}"></span><span
                  class="year">/15</span></p>
            </div>
          </div>
          <div class="col-12">
            <div class="table-responsive">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td><h5 style="text-align: center;"><b>አከራይ</b></h5></td>
                    <td><h5 style="text-align: center;"><b>ተከራይ</b></h5></td>
                  </tr>
                  <tr>
                    <td>ሙሉ ስም <span>____________________________________________</span></td>
                    <td>ሙሉ ስም <span>____________________________________________</span></td>
                  </tr>
                  <tr>
                    <td>ፊርማ <span>____________________________________________</span></td>
                    <td>ፊርማ <span>____________________________________________</span></td>
                  </tr>
                  <tr>
                    <td>የስራ ድርሻ <span>____________________________________________</span></td>
                    <td>የስራ ድርሻ <span>____________________________________________</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="col-12">
            <h5 style="text-align: center;"><b>ምስክር</b></h5>
            <div class="table-responsive">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td>ተቁ</td>
                    <td>ሙሉ ስም</td>
                    <td>ፊርማ</td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>____________________________________________</td>
                    <td>____________________________________________</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>____________________________________________</td>
                    <td>____________________________________________</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>