<!DOCTYPE html>
<html lang="en">

<body>
  <div th:fragment="card" class="card">
    <div class="card-body">
      <h5 class="card-title"><span
          th:text="${customer.fullName}"></span></h5>
      <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <h6>Transactions to be completed</h6>
        <ol class="list-group list-group-numbered list-group-flush">
          <li th:each="trans, status : ${transactions}" class="list-group-item col-12 col-md-6">
            <span class="badge bg-primary rounded-pill me-1"
              style="background-color:rgb(176, 72, 228);">Item</span><span th:text="${trans.item.itemName}"></span>
            <div class="ms-3">
              <span class="badge bg-primary rounded-pill me-1" style="background-color:rgb(176, 72, 228);">Transaction
                price</span><span
                th:text="${#numbers.formatDecimal(trans.transPrice, 1, 'COMMA', 2, 'DEFAULT') + ' Birr'}"></span>
            </div>
            <div class="ms-3">
              <span class="badge bg-primary rounded-pill me-1" style="background-color:rgb(176, 72, 228);">Collateral
                price</span><span
                th:text="${#numbers.formatDecimal(trans.collateral, 1, 'COMMA', 2, 'DEFAULT') + ' Birr'}"></span>
            </div>
            <div class="ms-3">
              <span class="badge bg-primary rounded-pill me-1" style="background-color:rgb(176, 72, 228);">Loan
                days</span><span th:text="${trans.dayDifference + ' days'}"></span>
            </div>
          </li>
        </ol>
      </li>
      <li class="list-group-item">
        <h6>Items to be loaned</h6>
        <ol class="list-group list-group-numbered">
          <li th:each="trans, status : ${transactions}"
            class="list-group-item d-flex justify-content-between align-items-start">
            <div class="ms-2 me-auto">
              <div class="fw-bold"><span th:text="${trans.item.itemName}"></span></div>
              Remaining Quantity = <span th:text="${trans.item.totalQuantity - trans.itemQuantity}"></span>
            </div>
            <span class="badge bg-primary rounded-pill" style="background-color:rgb(176, 72, 228);"
              th:text="${trans.itemQuantity}"></span>
          </li>
        </ol>
      </li>
      <li class="list-group-item">
        <h6>Total cost to be</h6>
        <div class="row align-items-start">
          <div class="card col-4">
            <div class="card-body">
              <div class="card-title">Total Price</div>
            </div>
            <div class="card-body">
              <div><span
                  th:text="${#numbers.formatDecimal(customer.totalPriceVATP, 1, 'COMMA', 2, 'DEFAULT') + ' Birr'}"
                  style="font-size:x-large ;"></span></div>
            </div>
          </div>
          <div class="card col-4">
            <div class="card-body">
              <div class="card-title">Total Debt Balance</div>
            </div>
            <div class="card-body">
              <div><span th:text="${#numbers.formatDecimal(customer.debtBalanceP, 1, 'COMMA', 2, 'DEFAULT') + ' Birr'}"
                  style="font-size:x-large ;"></span></div>
            </div>
          </div>
          <div class="card col-4">
            <div class="card-body">
              <div class="card-title">Total Collateral Price</div>
            </div>
            <div class="card-body">
              <div><span
                  th:text="${#numbers.formatDecimal(customer.totalCollateralVATP, 1, 'COMMA', 2, 'DEFAULT') + ' Birr'}"
                  style="font-size:x-large ;"></span></div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
  <div th:fragment="form">
    <div class="row justify-content-evenly my-5">
      <a href="/cancel" class="col-3 col-md-4 align-self-center btn btn-primary" role="button" data-bs-toggle="tooltip"
        data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Cancel and discard all changes">
        Cancel
      </a>
      <a href="/orders/saveperforma" class="col-3 col-md-3 align-self-center btn btn-success" role="button" data-bs-toggle="tooltip"
        data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Save as performa and continue later">
        Save as performa
      </a>
      <button type="submit" class="col-3 col-md-4 align-self-center btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top"
        data-bs-custom-class="custom-tooltip" title="Finish and save all changes">
        Finish
      </button>
    </div>
  </div>
</body>

</html>