<!DOCTYPE html>
<html lang="en">

<head>
  <div th:replace="general.html :: head"></div>
  <title>Error · HiyaScaffold Service</title>
</head>

<body>
  <div class="d-flex align-items-center justify-content-center vh-100">
    <div class="text-center">
      <h1 class="display-1 fw-bold">Something went wrong!</h1>
      <p class="fs-3">Our Engineers are on it.</p>
      <p class="lead">
        Try to <a href="/contact">contact the developers.</a>
      </p>
      <a href="/" class="btn btn-primary">Go Home</a>
    </div>
  </div>
</body>

</html>