<!DOCTYPE html>
<html lang="en">

<head>
  <div th:fragment="head">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <!-- Local -->
    <!-- <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
    <script th:src="@{/js/bootstrap.bundle.min.js}"></script> -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d660833754.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
      integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
      crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
      integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
      crossorigin="anonymous"></script>
  </div>
</head>

<body>
  <header th:fragment="header" class="sticky-top">
    <nav class="navbar navbar-expand-lg navbar-dark" style="background-color:rgb(176, 72, 228) ;">
      <div class="container-fluid">
        <!-- <a class="navbar-brand" href="/"><img class="img-fluid" th:src="@{images/logo.svg}" alt="" width="30" height="24"> ZeroSheet</a> -->
        <a class="navbar-brand" href="/"><i id="logo" class="fa-solid fa-circle-notch fa-lg"></i> ZeroSheet</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <!-- <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="/">Home</a>
            </li> -->

            <li class="nav-item">
              <a class="nav-link active" href="/company">Company</a>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Items
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/items">View Items</a></li>
                <li><a class="dropdown-item" href="/items/newitem">Add Item</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Customers
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/customers">View Customers</a></li>
                <li><a class="dropdown-item" href="/customerstabular">Tabular View</a></li>
                <li><a class="dropdown-item" href="/customers/newcustomer">Add Customer</a></li>
              </ul>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active " href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Transactions
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/transactions">View Transactions</a></li>
                <li><a class="dropdown-item" href="/transactions/performas">View Performas</a></li>
                <!-- <li>
                  <hr class="dropdown-divider">
                </li> -->
                <li><a class="dropdown-item" href="/transactions/newtransaction">Add Transaction</a></li>
              </ul>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Summary
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/summary/byitem">By Item</a></li>
                <li><a class="dropdown-item" href="/summary/bycustomer">By Customer</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/agreements/saved">Agreements</a>
            </li>
          </ul>
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <footer th:fragment="footer" class="bd-footer py-4 py-md-5 mt-5 bg-light">
    <div class="container py-4 py-md-5 px-4 px-md-3">
      <div class="row">
        <div class="col-lg-3 mb-3">
          <a class="d-inline-flex align-items-center mb-2 link-dark text-decoration-none" href="/"
            aria-label="ZeroSheet">
            <h5 class="fs-5" style="color:darkorchid ;"><i class="fa-solid fa-circle-notch fa-lg"></i> ZeroSheet</h5>
          </a>
          <ul class="list-unstyled small text-muted">
            <!-- <li class="mb-2">Designed and built with <i id="heart" class="fa fa-heart" aria-hidden="true"></i> by <a -->
              <li class="mb-2">Designed and built with <i id="heart" class="fa fa-heart-o" aria-hidden="true"></i> by <a
                href="https://github.com/Mr-MaNia7" target="_blank">Abdulkarim&llarr;&phmmat;&afr;&nfr;&iscr;&afr;</a>.
            </li>
            <li class="mb-2">Code licensed under <a href="https://github.com/Mr-MaNia7/zs-heroku-psql/blob/main/LICENSE"
                target="_blank" rel="license noopener">GPL-3.0</a>.</li>
            <li class="mb-2">Currently v1.2.0</li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 offset-lg-1 mb-3">
          <h5 style="color:darkorchid ;">Links</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="/">Home</a></li>
            <li class="mb-2"><a href="/contact">Contact&lt;dev&gt;</a></li>
            <li class="mb-2"><a href="#">Docs</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5 style="color:darkorchid ;">Guides</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#">Getting started</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5 style="color:darkorchid ;">Projects</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="#">ZeroSheet</a></li>
          </ul>
        </div>
        <div class="col-6 col-lg-2 mb-3">
          <h5 style="color:darkorchid ;">Community</h5>
          <ul class="list-unstyled">
            <li class="mb-2"><a href="https://github.com/Mr-MaNia7/zs-heroku-psql" target="_blank">Github</a></li>
            <li class="mb-2"><a href="https://github.com/Mr-MaNia7/zs-heroku-psql/issues" target="_blank">Issues</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="row small text-muted justify-content-center">
        <span id="copyright">&copy; Copyright 2022</span>
      </div>
    </div>
  </footer>
</body>

</html>