<!DOCTYPE html>
<html lang="en">

<head>
  <div th:replace="general.html :: head"></div>
  <title>Home · ZeroSheet</title>
</head>

<body>
  <header th:replace="general.html :: header"></header>

  <main class="pt-2 pb-4 mb-4 mx-2">
    <!-- <p th:text="${isCommented}"></p>
      <div th:if="${isCommented == true}">
        <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <strong class="me-auto">Confirmation</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            Your response has been recorded successfully!
          </div>
        </div>
      </div> -->
    <div class="list-group my-1">
      <a href="/items" class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold"> Items</div>
          Items available in store
        </div>
        <span th:each="item, status : ${items}" class="badge bg-primary rounded-pill"
          th:text="${status.first}? ${status.size}">14</span>
      </a>

      <a href="/customers" class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Customers</div>
          List of previous customers
        </div>
        <span th:each="customer, status : ${customers}" class="badge bg-primary rounded-pill"
          th:text="${status.first}? ${status.size}">14</span>
      </a>

      <a href="/transactions" class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Transactions</div>
          List of completed transactions
        </div>
        <span th:each="transaction, status : ${transactions}" class="badge bg-primary rounded-pill"
          th:text="${status.first}? ${status.size}">14</span>
      </a>

      <a href="/company" class="list-group-item d-flex justify-content-between align-items-start">
        <div class="ms-2 me-auto">
          <div class="fw-bold">Company</div>
          Company information
        </div>
      </a>

    </div>

    <div class="container my-3">
      <a name="" id="" class="float-end btn btn-primary" href="/transactions/newtransaction" role="button">
        <i class="fas fa-plus fa-lg"></i> Add New Transaction
      </a>
    </div>
  </main>

  <footer th:replace="general.html :: footer"></footer>

</body>

</html>