<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Transactions</title>
</head>
<body>
    <h2>Completed Transactions</h2>
    <div>
        <ul th:each = "trans : ${transactions}">
            <li th:text="${trans.transName}"></li>
            <li th:text="${trans.item}">No Item</li>
            <li th:text="${trans.customer}">No Customer</li>
        </ul>
    </div>
</body>
</html>