<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Instance</title>
</head>

<body>
    <div>
        <h2>Update Instance</h2>
        <div class="row">
            <div>
                <form action="#" th:action="@{/updateinstance/{instanceId}(instanceId=${instance.instanceId})}" th:object="${iteminstance}" method="post">             
                    <div class="row">
                        <div>
                            <label for="itemQuantity">Item Quantity</label>
                            <input type="text" th:field="*{itemQuantity}" id="itemQuantity" placeholder="Item-Quantity">
                            <span th:if="${#fields.hasErrors('itemQuantity')}" th:errors="*{itemQuantity}"></span>
                        </div>
                        <div>
                            <label for="category">Choose status for the item</label>
                            <select th:field="*{category}" id="category">
                                <option value="AVAILABLE">Available</option>
                                <option value="LOAN">On-Loan</option>
                                <option value="MAINTENANCE">In-Maintenance</option>                              
                            </select>
                            <span th:if="${#fields.hasErrors('category')}" th:errors="*{category}"></span>
                        </div>
                        <div>
                            <label for="item">Choose an item below</label>
                            <select th:field="*{item}" id="item"></select>
                                <div th:each="item : ${items}">
                                    <option th:value="${item}" th:text="${item.itemName}"></option>
                                </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-md-6 mt-5">
                            <input type="submit" class="btn btn-primary" value="Update Item-Instance">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>