<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
</head>

<body>
    <div>
        <h2>New Item</h2>
        <div>
            <div>
                <form action="#" th:action="@{/additem}" th:object="${item}" method="post">
                    <div class="row">
                        <div>
                            <label for="itemName">Item Name</label>
                            <input type="text" th:field="*{itemName}" id="itemName" placeholder="Item-Name">
                            <span th:if="${#fields.hasErrors('itemName')}" th:errors="*{itemName}"></span>
                        </div>
                        <div>
                            <label for="unit">Unit Measurement</label>
                            <input type="text" th:field="*{unit}" id="unit" placeholder="PCS">
                            <span th:if="${#fields.hasErrors('unit')}" th:errors="*{unit}"></span>
                        </div>
                        <div>
                            <label for="unitPrice">Unit-Price</label>
                            <input type="text" th:field="*{unitPrice}" id="unitPrice" placeholder="25.0">
                            <span th:if="${#fields.hasErrors('unitPrice')}" th:errors="*{unitPrice}"></span>
                        </div>
                        <div>
                            <label for="totalQuantity">Total Quantity</label>
                            <input type="text" th:field="*{totalQuantity}" id="totalQuantity" placeholder="100">
                            <span th:if="${#fields.hasErrors('totalQuantity')}" th:errors="*{totalQuantity}"></span>
                        </div>
                        <div>
                            <label for="areaCoverage">Expected Area Coverage</label>
                            <input type="text" th:field="*{areaCoverage}" id="areaCoverage" placeholder="100">
                            <span th:if="${#fields.hasErrors('areaCoverage')}" th:errors="*{areaCoverage}"></span>
                        </div>
                        <!-- Drop Down Menu -->
                        <div>
                            <label for="category">Choose a Status</label>
                            <select th:field="*{category}" id="category"    >
                                <option value="AVAILABLE">Available</option>
                                <option value="LOAN">On Loan</option>
                                <option value="MAINTENANCE">In Maintenance</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <input type="submit" value="Add Item">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>