<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" th:href="@{/css/style.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/d660833754.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
    integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
    integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
    crossorigin="anonymous"></script>
  <style>
    body {
      display: flex;
      flex-direction: column;
      height: 100vh;
    }

    main {
      flex: auto;
    }

    footer {
      flex-shrink: 0;
    }
  </style>
  <title>Items List · ZeroSheet</title>
</head>

<body>
  <header th:replace="general.html :: header"></header>

  <main class="mx-2">
    <div class="container">
      <div>
        <div th:if="${#lists.isEmpty(items)}">
          <h2 class="mt-2 mb-3" style="text-align: center;">No items available at the moment!</h2>
        </div>
        <div th:unless="${#lists.isEmpty(items)}">
          <h2 class="mt-2 mb-3" style="text-align: center;">List of Items</h2>
          <div class="table-responsive">
            <table class="table table-hover">
              <thead class="table-light align-middle">
                <tr>
                  <th>#</th>
                  <th>Name</th>
                  <th>Unit</th>
                  <th>Loan Price</th>
                  <th>Unit Price</th>
                  <th>Total Quantity</th>
                  <th>Area Coverage</th>
                  <th>Edit/Delete</th>
                </tr>
              </thead>
              <tbody>
                <tr th:each="item, status : ${items}">
                  <td th:text="${status.count}"></td>
                  <td th:text="${item.itemName}"></td>
                  <td th:text="${item.unit}"></td>
                  <td th:text="${item.unitLoanPrice}"></td>
                  <td th:text="${item.unitPrice}"></td>
                  <td th:text="${item.totalQuantity}"></td>
                  <td th:text="${item.areaCoverage}"></td>
                  <td>
                    <a class="me-3" th:href="@{items/edititem/{itemId}(itemId=${item.itemId})}">
                      <i class="fa-solid fa-pen"></i></a>
                    <a class="ms-3" data-bs-toggle="modal" data-bs-target="#confirm-delete"
                      th:data-bs-itemId="${item.itemId}" th:data-bs-itemName="${item.itemName}">
                      <!-- <i class="fa-solid fa-trash" style="color:rgb(223, 77, 52) ;"></i> -->
                      <i class="fa-solid fa-delete-left" style="color:rgb(223, 77, 52) ;"></i>
                    </a>

                    <div class="modal fade" id="confirm-delete" tabindex="-1" aria-labelledby="deleteItem"
                      aria-hidden="true">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="deleteItem">Confirm Delete Action</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <div class="container">Delete item <span style="font-weight: bold;">Item name</span>
                              permanently from store?</div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cancel</button>
                            <button id="deletebutton" type="button" class="btn btn-danger" data-bs-dismiss="modal">
                              <a id="deletelink" class="link-light text-decoration-none">Delete</a>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>

                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="row justify-content-center my-5">
        <a name="" id="" class="btn btn-primary col-6 col-md-3" href="/items/newitem" role="button">
          <i class="fas fa-plus fa-lg"></i> Add New Item
        </a>
      </div>
    </div>
  </main>

  <footer th:replace="general.html :: footer"></footer>

  <script>
    const deleteModal = document.getElementById('confirm-delete')
    deleteModal.addEventListener('show.bs.modal', event => {
      // Button that triggered the modal
      const button = event.relatedTarget
      // Extract info from data-bs-* attributes
      const id = button.getAttribute('data-bs-itemId')
      const name = button.getAttribute('data-bs-itemName')
      // Update the modal's content.
      const deleteItemName = deleteModal.querySelector('.modal-body div span')
      const deleteButtonLink = deleteModal.querySelector('.modal-footer button a')

      deleteButtonLink.href = `items/deleteitem/${id}`
      deleteItemName.textContent = `${name}`
    })
  </script>
</body>

</html>