<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Agreement</title>
</head>

<body>
    <div>
        <h2>New Agreement</h2>
        <div>
            <div>
                <form action="#" th:action="@{/addagreement}" th:object="${agreement}" method="post">
                    <div class="row">
                        <div>
                            <label for="agreementNumber">Agreement Number</label>
                            <input type="text" th:field="*{agreementNumber}" id="agreementNumber">
                            <span th:if="${#fields.hasErrors('agreementNumber')}" th:errors="*{agreementNumber}"></span>
                        </div>
                        <div>
                            <label for="statement">Agreement Statement</label>
                            <input type="text" th:field="*{statement}" id="statement">
                            <span th:if="${#fields.hasErrors('statement')}" th:errors="*{statement}"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <input type="submit" value="Add Agreement">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>