<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agreement Page</title>
    <!-- <script  src="message.js" src="/src/main/resources/static/js/Agreement/view.js"></script> -->
    <script type="text/javascript" >
        function msg(customer, transactions, items){  
            alert(customer.name);
        }
    </script>

</head>
<body>
    <main>
        <div id="date">ሰኔ 13 ቀን 2012 ዓ.ም</div>
        <div id="agreementNumber">የውል ቁጥር ሂ/ጠ/ሥ<span>0055/12</span></div>
        <div>
            <div th:switch="${company}">
                <div class = row>
                    <div>
                        <h2 th:case="null">There is no company information</h2>
                        <div th:case="*">
                            <h2>የእስካፎልዲንግ ኪራይ ውል ስምምነት</h2>
                            <div th:each = "company : ${company}">
                                <h3>አከራይ:- <span th:text="${company.compName}"></span></h3>
                                <ul>
                                    <li>ስልክ <span th:text="${company.compPhoneNumber}"></span></li>
                                    <li>ወረዳ <span th:text="${company.compWoreda}"></span></li>
                                    <li>ክፍለ ከተማ <span th:text="${company.compSubCity}"></span></li>
                                    <li>የቤት ቁጥር <span th:text="${company.compHouseNumber}"></span></li>
                                    <li><span th:text="${company.compCity}">አዲስ አበባ</span> <span th:text="${company.compCountry}">ኢትዮጵያ</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div>
            <h3>ተከራይ:- <span th:text="${customer.name + ' ' + customer.middleName + ' ' + customer.lastName}"></span></h3>
            <ul>
                <li>ስልክ <span th:text="${customer.phoneNumber}"></span></li>
                <li>ወረዳ <span th:text="${customer.woreda}"></span></li>
                <li>ክፍለ ከተማ <span th:text="${customer.subcity}"></span></li>
                <li>የቤት ቁጥር <span th:text="${customer.houseNumber}"></span></li>
                <li>ከተማ <span th:text="${customer.city}"></span> ኢትዮጵያ</li>
            </ul>
        </div>
        
        <div>
            <h2>አከራይና ተከረይ ተስማምተን የሚከተለውን የስካፎልዲንግ ውል ፈጽመናል ፡፡</h2>
            <!-- One Field -->
            <h2>አንቀጽ አንድ:- የአከራይ መብትና እና ግዴታ</h2>
            <ol>
                <li>አከራይ ለአገልግሎት ብቁና በጥሩ ሁኔታ ላይ ያሉ ማቴሪአሎችን ከነ መገጣጠሚያቸው ያቀርባል ፡፡</li>
                <li>አከራይ በሰንጠረዥ ቁጥር 1 ላይ የተቀመጠውን አይነትና ቁጥር አሟልቶ ያቀርባል ፡፡</li>
                <li>አከራይ የኪራይ ሙሉ ዘመኑ ሲያልቅ ያከራያቸውን እቃዎች ባለበት (ባስረከበበት) ሁኔታ መልሶ ይረከባል ፡፡</li>
                <li>አከራይ ባከራያቸው እቃዎች ጉድለት ወይም ብልሽት ቢኖር የጎደለውን ዕቃ በሰንጠረዥ ቁጥር 2 ላይ በተቀመጠው ዋጋ መሰረት ያስከፍላል ፡፡</li>
            </ol>
        </div>

        <div>
            <!-- Second Field -->
            <h2>አንቀጽ ሁለት:- የተከራይ ፈቃድ</h2>
            <ol>
                <li>ተከራይ የተከራየውን ንብረት የይዘትና የቀለም ለውጥ ሳያደርግ ይጠቀማል ፡፡</li>
                <li>ተከራይ የተከራየውን ንብረት በሰንጠረዝ ቁጥር 1 መሰረት ቆጥሮ ይረከባል ፡፡ </li>
                <li>ተከራይ የተረከበውን ንብረት የኪራይ ጊዜው ሲጠናቀቅ ንብረቱን በሰንጠረዝ ቁጥር 1 መሰረት ቆጥሮ ያስረክባል ፡፡ </li>
                <li>ተከራይ የተከራየውን ንብረት ከአከራይ መጋዘን በራሱ ትራንስፖርት ይወስዳል ሥራውን ሲያጠናቅቅ የተረከበበት ቦታ ይመልሳል ፡፡</li>
                <li>ተከራይ ለሚጠፉና ለሚበላሹ እቃዎች በሰንጠረዝ ቁጥር 2 የዋጋ ዝርዝር መሰረት ክፍያ ይፈጽማል ፡፡</li>
                <li>ተከራይ ንብረቱን ለኮንስትራክሽን አገልግሎት ብቻ ይጠቀምበታል ለሶስተኛ ወገንም አሳልፎ መስጠት አይችልም ፡፡</li>
                <li>ተከራይ ለሚከራየው ንብረት በሰንጠረዥ ቁጥር ሁለት ጠቅላላ ድምሩን ብር <span th:text="${customer.totalCollateral}"></span> በቼክ ያስይዛል ፡፡</li>
                <li>ተከራይ የሚከራየውን ንብረት ከተገለገለበት በኃላ ጊዜው ሲጠናቀቅ እቃዎቹን በተረከበበት ሁኔታ የማያስረክብ ቢሆን ግን ለ ዕቃዎቹ ሲባል በ መያዣነት የ ተቀበለውን ቼክ ባንክ ይዞ በመቅረብ የመመንዘር መብት አከራይ አለው ፡፡</li>
                <div th:each="trans,status : ${transactions}">
                    <li>
                        ይህ የኪራይ ውል ከ ዛሬ ቀን 
                        <span th:text="${status.first}? ${trans.dueDate}"></span> 
                        ጀምሮ በአዲስ አበባ ከተማ የተደረገ ሲሆን ተከራዩ እቃውን ከወሰደበት ጊዜ ጀምሮ ለ 
                        <span th:text="${status.first}? ${trans.dayDifference}"></span> 
                        ቀናት ፀንቶ ይቆያል፤ ሆኖም ግን ተዋዋዮች ከተስማሙና የቀጣይ ወራት ኪራይ ከተከፈለ ማራዘም ይችላሉ ፡፡
                    </li>
                </div>
            </ol>
        </div>
        
        <div>
            <!-- Third Field -->
            <h2>አንቀጽ ሶስት:- የኪራይ ዋጋ</h2>
            <ol>
                <div th:each="trans,status : ${transactions}">
                    <li>
                        የኪራይ ዋጋ ለአንድ ቀን ብር <span th:text="${status.first}? ${customer.totalPriceVAT / trans.dayDifference}"></span>
                         ቫትን ጨምሮ ሲሆን  ጠቅላላ ዋጋ ለ <span th:text="${status.first}? ${trans.dayDifference}"></span> ቀን <span th:text="${customer.totalPriceVAT}"></span>
                         (<span ></span>) ቫትን ጨምሮ ይሆናል፡፡ 
                    </li>
                </div>
                <table border="1">
                    <caption>ሰንጠረዥ ቁ. 1</caption>
                    <thead>
                        <tr>
                            <th>ተቁ</th>
                            <th>ዝርዝር</th>
                            <th>መለኪያ</th>
                            <th>ብዛት</th>
                            <th>የሚሸፍነው የካሬ መጠን</th>
                            <th>የኪራይ ዋጋ በቀን ብር</th>
                            <th>ጠቅላላ ቀን</th>
                            <th>ጠቅላላ የብር መጠን</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="transaction, status : ${transactions}">
                            <td th:text="${status.count}"></td>
                            <td th:text="${transaction.item.itemName}"></td>
                            <td th:text="${transaction.item.unit}"></td>
                            <td th:text="${transaction.itemQuantity}"></td>
                            <td th:text="${transaction.item.areaCoverage}"></td>
                            <td th:text="${transaction.item.unitLoanPrice}"></td>
                            <td th:text="${transaction.dayDifference}"></td>
                            <td th:text="${transaction.transPrice}"></td>
                        </tr>
                        <tr>
                            <td>ጠቅላላ ዋጋ</td>
                            <td><span th:text="${customer.totalPrice}"></span></td>
                        </tr>
                        <tr>
                            <td>ቫት 15%</td>
                            <td><span th:text="${customer.totalPrice * 0.15}"></span></td>
                        </tr>
                        <tr>
                            <td>ጠቅላላ ዋጋ ቫትን ጨምሮ</td>
                            <td><span th:text="${customer.totalPriceVAT}"></span></td>
                        </tr>
                    </tbody>
                </table>
                <li>ይህ የኮንትራት ዋጋ የሚያገለግለው ለተጠቀሰው የኪራይ ጊዜ ብቻ ነው፡፡</li>
            </ol>
        </div>

        <div>
            <!-- Fourth Field -->
            <h2>አንቀጽ አራት:- ክፍያ ሁኔታ</h2>
            <ol>
                <li>ጠቅላላ የኪራይ ዋጋ በሰንጠረዥ 1 በተመለከተው መሰረት ተከራይ ሙሉ በሙሉ ክፍያ ይፈጽማል፡፡</li>
            </ol>
        </div>

        <div>
            <!-- Fifth -->
            <h2>አንቀጽ አምስት:- ማስያዣ</h2>
            <table border="1">
                <caption>ሰንጠረዥ ቁ. 2 </caption>
                <thead>
                    <tr>
                        <th>ተቁ</th>
                        <th>ዝርዝር</th>
                        <th>መለኪያ</th>
                        <th>ብዛት</th>
                        <th>ነጠላ ዋጋ</th>
                        <th>ማስያዣ</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="transaction, status : ${transactions}">
                        <td th:text="${status.count}"></td>
                        <td th:text="${transaction.item.itemName}"></td>
                        <td th:text="${transaction.item.unit}"></td>
                        <td th:text="${transaction.itemQuantity}"></td>
                        <td th:text="${transaction.item.unitPrice}"></td>
                        <td th:text="${transaction.collateral}"></td>
                    </tr>
                    <tr>
                        <td>ጠቅላላ ማስያዣ</td>
                        <td><span th:text="${customer.totalCollateral}"></span></td>
                    </tr>
                    <tr>
                        <td>ቫት 15%</td>
                        <td><span th:text="${customer.totalCollateral * 0.15}"></span></td>
                    </tr>
                    <tr>
                        <td>ጠቅላላ ማስያዣ ቫትን ጨምሮ</td>
                        <td><span th:text="${customer.totalCollateralVAT}"></span></td>
                    </tr>
                </tbody>
            </table>
            <ol>
                <li>በመያዣነት የተያዘውቼክ ባንክ፤------------------------------------- ቅርንጫፍ----------------------- የቼክ ቁጥር፤-------------------------</li>
            </ol>
        </div>

        <div>
            <div id="agreementNumber">የውል ቁጥር ሂ/ጠ/ሥ<span>0055/12</span></div>
            <div>
                <h3>አከራይ</h3>
                <ul>
                    <li>ሙሉ ስም <span>____________________________________________</span> </li>
                    <li>ፊርማ <span>____________________________________________</span></li>
                    <li>የስራ ድርሻ <span>____________________________________________</span></li>
                </ul>
            </div>
            <div>
                <h3>ተከራይ</h3>
                <ul>
                    <li>ሙሉ ስም <span>____________________________________________</span></li>
                    <li>ፊርማ <span>____________________________________________</span></li>
                    <li>የስራ ድርሻ <span>____________________________________________</span></li>
                </ul>
            </div>
            <div>
                <h3>ምስክር</h3>
                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>ሙሉ ስም</th>
                            <th>ፊርማ</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>____________________________________________</td>
                            <td>____________________________________________</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>____________________________________________</td>
                            <td>____________________________________________</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>____________________________________________</td>
                            <td>____________________________________________</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </main>
    <aside>
        <form action="#" th:action="@{/orders/updatesummary/{id}(id = ${customer.id})}" method="get">
            <div>
                <button type="button" onclick="window.print()">Print Window</button>
            </div>
            <input type="button" value="click" onclick="msg()"/>
            <div>
                <input type="submit" class="btn btn-primary" value="Accept Agreement and Continue">
            </div>
        </form>
    </aside>
    </body>
</html>