<!DOCTYPE html>
<html lang="en">

<head>
  <div th:replace="general.html :: head"></div>
  <style type="text/css">
    .custom-tooltip {
      --bs-tooltip-bg: var(--bs-secondary);
    }
  </style>
  <title>Agreement Page · ZeroSheet</title>
</head>

<body>
  <div class="dontprint">
    <header th:replace="general.html :: header"></header>
  </div>

  <main>
    <div class="container">
      <div class="dontprint">
        <div class="progress my-2 dontprint" style="height: 25px;">
          <div class="progress-bar progress-bar-striped progress-bar-animated w-75" role="progressbar" aria-valuenow="75"
            aria-valuemin="0" aria-valuemax="100">75%</div>
        </div>
        <h2 class="mt-2 mb-3" style="text-align: center;">Agreement Page</h2>
        <form class="mt-5" action="#" th:action="@{/orders/summary}" th:object="${customer}" method="get">
          <div class="row justify-content-evenly">
            <a href="/cancel" class="col-2 align-self-center btn btn-primary" role="button" data-bs-toggle="tooltip"
              data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Cancel and discard changes">
              Cancel
            </a>
            <a href="/orders/saveperforma" class="col-2 align-self-center btn btn-success" role="button"
              data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
              title="Save as proforma and continue later">
              Save as proforma
            </a>
            <a href="/orders/summary" class="col-2 align-self-center btn btn-primary" role="button"
              data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
              title="Accept and Continue">
              Continue
            </a>
            <button class="col-2 align-self-center btn btn-primary" onclick="window.print(); return false;"
              data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
              title="Print this agreement and continue">
              <i class="fa-solid fa-print"></i> Print
            </button>
          </div>
        </form>
      </div>

      <div th:replace="Fragments/agreement.html :: main"></div>

      <div class="dontprint">
        <form action="#" th:action="@{/orders/summary}" th:object="${customer}" method="get">
          <div class="row justify-content-evenly">
            <a href="/cancel" class="col-2 align-self-center btn btn-primary" role="button" data-bs-toggle="tooltip"
              data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Cancel and discard changes">
              Cancel
            </a>
            <a href="/orders/saveperforma" class="col-2 align-self-center btn btn-success" role="button"
              data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
              title="Save as proforma and continue later">
              Save as proforma
            </a>
            <a href="/orders/summary" class="col-2 align-self-center btn btn-primary" role="button"
              data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
              title="Accept and Continue">
              Continue
            </a>
            <button class="col-2 align-self-center btn btn-primary" onclick="window.print(); return false;"
              data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
              title="Print this agreement and continue">
              <i class="fa-solid fa-print"></i> Print
            </button>
          </div>
        </form>
      </div>
    </div>
  </main>

  <div class="dontprint">
    <footer th:replace="general.html :: footer"></footer>
  </div>

  <!-- Make an issue on the print page! -->
  <!-- <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script> -->
  <script th:src="@{/js/convert-date.js}"></script>
  <script th:src="@{/js/convert-num.js}"></script>

</body>

</html>