<!DOCTYPE html>
<html lang="en">

<head>
  <div th:replace="general.html :: head"></div>
  <style type="text/css">
    .custom-tooltip {
      --bs-tooltip-bg: var(--bs-secondary);
    }
  </style>
  <title>Updated Agreement Page · ZeroSheet</title>
</head>

<body>
  <div class="dontprint">
    <header th:replace="general.html :: header"></header>
  </div>

  <main>
    <div class="container">
      <div class="progress my-2 dontprint" style="height: 25px;">
        <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: 67% ;" role="progressbar"
          aria-valuenow="67" aria-valuemin="0" aria-valuemax="100">67%</div>
      </div>
      <div class="dontprint">
        <h2 class="mt-2 mb-3" style="text-align: center;">Updated Agreement Page</h2>
      </div>

      <div th:replace="Fragments/agreement.html :: main"></div>

      <div class="dontprint" th:each="transaction, status : ${transactions}">
        <form action="#"
          th:action="@{/orders/editedsummary/{id}/{transId}(id = ${customer.id}, transId = ${transaction.transId})}"
          th:object="${customer}" method="get">
          <div class="row justify-content-evenly">
            <!-- <a href="/cancel" class="col-2 col-sm-3 btn btn-primary" role="button" data-bs-toggle="tooltip"
              data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Cancel and discard changes">
              Cancel
            </a> -->
            <a th:href="@{/orders/editedsummary/{id}/{transId}(id = ${customer.id}, transId = ${transaction.transId})}"
              class="col-2 col-sm-3 btn btn-primary" role="button" data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-custom-class="custom-tooltip" title="Accept and Continue">
              Continue
            </a>
            <button class="col-2 col-sm-3 btn btn-primary" onclick="window.print(); return false;"
              data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip"
              title="Print this agreement and continue">
              <i class="fa-solid fa-print"></i> Print
            </button>
          </div>
        </form>
      </div>
    </div>
  </main>

  <div class="dontprint">
    <footer th:replace="general.html :: footer"></footer>
  </div>

  <!-- Make an issue on the print page! -->
  <!-- <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
        const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
    </script> -->
  <script th:src="@{/js/agreement/convert-date.js}"></script>

</body>

</html>