<!DOCTYPE html>
<html lang="en">

<head>
  <div th:replace="general.html :: head"></div>
  <style>
    .custom-tooltip {
      --bs-tooltip-bg: var(--bs-secondary);
    }
  </style>
  <title>Contact Me · HiyaScaffold Service</title>
</head>

<body>
  <header th:replace="general.html :: header"></header>

  <main class="mx-2">
    <h2 class="mt-2 mb-3" style="text-align: center;">Got me any recommendations?</h2>
    <div class="container">
      <div class="row align-self-center justify-content-center">
        <form class="col-6" action="#" th:action="@{/addfeedback}" th:object="${contact}" method="post">
          <div class="mb-3">
            <label for="comment" class="form-label">I am happy to hear it! <i class="fa-solid fa-asterisk fa-xs"></i>
            </label>
            <textarea class="form-control" th:field="*{comment}" id="comment" th:errorclass="is-invalid" rows="3"
              placeholder="Hi Abdulkarim I have a suggestion"></textarea>
            <!-- <input type="text" class="form-control" th:field="*{comment}" id="comment" th:errorclass="is-invalid" placeholder="Hi"> -->
            <span class="invalid-feedback" th:if="${#fields.hasErrors('comment')}" th:errors="*{comment}"></span>
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Email address <i class="fa-solid fa-asterisk fa-xs"></i> </label>
            <input type="text" class="form-control" th:field="*{email}" id="email" th:errorclass="is-invalid"
              placeholder="someone@example.com">
            <span class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
          </div>

          <div class="mb-3">
            <label for="fname" class="form-label">First name <i class="fa-solid fa-asterisk fa-xs"></i> </label>
            <input type="text" class="form-control" th:field="*{fname}" id="fname" th:errorclass="is-invalid"
              placeholder="John">
            <span class="invalid-feedback" th:if="${#fields.hasErrors('fname')}" th:errors="*{fname}"></span>
          </div>

          <div class="row justify-content-evenly">
            <a href="/" class="col-2 col-sm-3 btn btn-primary" role="button" data-bs-toggle="tooltip"
              data-bs-placement="top" data-bs-custom-class="custom-tooltip"
              title="Cancel commenting and discard changes">
              Cancel
            </a>
            <button type="reset" class="col-2 col-sm-3 btn btn-primary" data-bs-toggle="tooltip" data-bs-placement="top"
              data-bs-custom-class="custom-tooltip" title="Reset to defaults">
              Reset
            </button>
            <button type="submit" class="col-2 col-sm-3 btn btn-primary" data-bs-toggle="tooltip"
              data-bs-placement="top" data-bs-custom-class="custom-tooltip" title="Comment and save changes">
              Submit
            </button>
          </div>
          <footer>
            <div class="mt-3">
              <i class="fa-solid fa-asterisk fa-xs"></i> Required field
            </div>
          </footer>
        </form>
      </div>
    </div>

    <div class="container my-5">
      <h2 class="mt-2 mb-3" style="text-align: center;">Contact me through</h2>
      <div class="container">
        <div class="row align-self-center justify-content-center">
          <div class="list-group col-6">
            <a href="tel:+2510953045859" class="list-group-item list-group-item-action list-group-item-primary">
              <i class="fa-solid fa-phone"></i> +251 953045859
            </a>
            <a href="https://t.me/Mr_R030T" target="_blank"
              class="list-group-item list-group-item-action list-group-item-primary">
              <i class="fa-brands fa-telegram"></i></i> @Mr_R030T
            </a>
            <a href="mailto:abdulkarimgmohammed@gmail.com"
              class="list-group-item list-group-item-action list-group-item-primary">
              <i class="fa-solid fa-envelope"></i> abdulkarimgmohammed@gmail.com
            </a>
            <a href="https://www.linkedin.com/in/abdulkarim-getachew-b3b0201b1/" target="_blank"
              class="list-group-item list-group-item-action list-group-item-primary">
              <i class="fa-brands fa-linkedin-in"></i> Abdulkarim Getachew
            </a>
            <a href="https://www.facebook.com/abdu.getachew.3954" target="_blank"
              class="list-group-item list-group-item-action list-group-item-primary">
              <i class="fa-brands fa-facebook-f"></i> Abdulkareem G Mohammed
            </a>
            <a href="https://mobile.twitter.com/AbdulkarimGeta1" target="_blank"
              class="list-group-item list-group-item-action list-group-item-primary">
              <i class="fa-brands fa-twitter"></i> Abdulkarim Getachew
            </a>
            <a href="https://www.google.com/maps/@9.040801,38.7637782,18.51z" target="_blank"
              class="list-group-item list-group-item-action list-group-item-dark">
              <i class="fa-solid fa-location-pin"></i> Addis Ababa Institute of Technology, King George VI Street, Addis
              Ababa
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>

  <footer th:replace="general.html :: footer"></footer>

  <script>
    const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]')
    const tooltipList = [...tooltipTriggerList].map(tooltipTriggerEl => new bootstrap.Tooltip(tooltipTriggerEl))
  </script>

</body>

</html>