<!DOCTYPE html>
<html lang="en">

<head>
  <div th:replace="general.html :: head"></div>
  <title>Feedbacks List · ZeroSheet</title>
</head>

<body>
  <header th:replace="general.html :: header"></header>

  <main class="mx-2">
    <h2 class="mt-2 mb-3" style="text-align: center;">Feedbacks List</h2>
    <div class="container">
      <ol class="list-group list-group-numbered">
        <div th:each="feedback : ${feedbacks}">
          <div class="list-group-item" th:text="${feedback.fname}"></div>
          <div class="list-group-item" th:text="${feedback.email}"></div>
          <div class="list-group-item" th:text="${feedback.comment}"></div>
        </div>
      </ol>
    </div>
    </div>
  </main>

  <footer th:replace="general.html :: footer"></footer>

</body>

</html>